/**
 * Simpla Template
 *
 * @copyright 	2015 Simpla Template
 * @link 		http://www.simpla-template.org.ua/
 * @author 		Simpla Template  <info@simpla-template.org.ua>
 *
 */

.left-menu #filter h3 {
	font-size: 16px;
}

#filter {
z-index: 9999;
}

#filter form li {
	position: relative;
	font: 15px Tahoma, Arial, Helvetica, Geneva, sans-serif;
}
#filter form li.disabled {
	color: #7A7A7A;
	text-decoration: line-through;
}
#filter form li.disabled  label i:hover {
	text-decoration:none;
}
#filter form li.disabled  label {
	cursor: default;
}
#filter form li.disabled  label i{
	display: none;
}
#filter form li label {
	
}
#filter form li:not(.disabled) label i:hover {
	text-decoration:underline;
	cursor: pointer;
}
#filter form li label i{
	color: #7A7A7A;
	font-style: normal;
	font-size: 12px;
}
input#min_price, input#max_price {
	font-size: 14px;
	text-align: center;
	width: 4em;
}
.price_slider {
	/*width: 240px;*/
	position: relative;
}
.input_price {
	margin-top: 10px;
	margin-left: 20px;
}
.ui-slider {
	height: 6px;
	position: relative;
	text-align: left;
	margin: 20px 19px 10px 20px;
}

.ui-widget-content {
	border: 1px solid #aaa;
	
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 17px;
	height: 18px;
	cursor: default;
	top: -5px;
}
.ui-slider .ui-state-left, .ui-slider .ui-state-right {
	width: 16px;
	height: 16px;
	z-index: 102;
	cursor:pointer;
	margin-top: -1px;

}
.ui-slider .ui-state-left {
	background: url("../images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #e6e6e6;
	margin-left: -8px;
	border: 1px solid #d3d3d3;
    color: #555555;
    font-weight: normal;
	border-radius: 4px;

}
.ui-slider .ui-state-right {
	background: url("../images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #e6e6e6;
	margin-right: -8px;
	border: 1px solid #d3d3d3;
    color: #555555;
    font-weight: normal;
	border-radius: 4px;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
}

.ui-widget-header {
	background: url(../img/ui-widget-header.gif);
	overflow: hidden;
}
.ui-slider-handle{
/*	border-radius: 50%;
	 -moz-border-radius:50%;
	 -webkit-border-radius:50%;
	 -khtml-border-radius:50%;
	width: 16px;
	height: 16px;
	background: #E0E0E0;
*/
}
.ui-slider .ui-slider-range.ui-widget-header-bar {
	background: url(../img/ui-widget-header-activ.gi);
	z-index:100;
}
.ui-slider .ui-slider-range.ui-widget-header-left{
	z-index:101;
	width:0px;
	background: url(../img/ui-widget-header-pre-activ.gi);
}
.ui-slider .ui-slider-range.ui-widget-header-right{
	z-index:101;
	width:0px;
	background: url(../img/ui-widget-header-pre-activ.gi);
}
.ui-widget-header-hidden {
	display: none!important;
}
.total_view {
  border-bottom: 1px solid #EBEBEB;
  background-color: #F7F7F7;
}
.apply a{
color: #505050;
font-size: 15px;
text-shadow: 0px 1px 0px white;
text-decoration: none;
}
.apply a:hover {
  text-decoration: line;
}